/* 
    Document   : NiconImageStyle
    Created on : 23-may-2013, 0:27:21
    Author     : Dony
    Description:
        Purpose of the stylesheet follows.
*/

.primaryAnchorPane{
    -fx-background-color:#333333;
    
}

